{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h3>About</h3>
    <p>This MVP version of the S-1 Analyst App is designed for users to quickly find and access SEC S-1 filings. 
        As a venture capitalist, I find it helpful to study S-1 filings to see how pre-IPO companies position their 
        products/services and analyze their financial growth.
    </p>

    <p>
        In future iterations, the app will include parsing and analysis of S-1 documents to:
    </p>
    <ul>
        <li>Summarize key sections (e.g., company overview, business risks)</li>
        <li>Identify and visualize financial trends</li>
        <li>Identify key noteworthy quotes</li>
    </ul>
    
    <h3>
        Technical details
    </h3>
    
    <table class="tech-details">
        <tbody>
            <tr>
                <td style="background-color: #4a90e2; color: white; font-weight: bold;">
                <i class="bi bi-code-slash"></i> Framework
            </tr>
            <tr>
                <td style="background-color: #4a90e2; color: white; font-weight: bold;">Hosting</td>
                <td>Heroku (via: <a href="https://www.s1analyst.app/" target="_blank">https://www.s1analyst.app/</a>)</td>
            </tr>
            <tr>
                <td style="background-color: #4a90e2; color: white; font-weight: bold;">Backend</td>
                <td>PostgreSQL database</td>
            </tr>
            <tr>
                <td style="background-color: #4a90e2; color: white; font-weight: bold;">Templating engine</td>
                <td>Jinja for dynamically rendering HTML pages</td>
            </tr>
            <tr>
                <td style="background-color: #4a90e2; color: white; font-weight: bold;">Data source</td>
                <td>SEC's EDGAR RESTful APIs (<a href="https://www.sec.gov/search-filings/edgar-application-programming-interfaces" target="_blank">API Documentation</a>)</td>
            </tr>
        </tbody>
    </table>
    <br>

    <h3>
        Questions / feedback?
    </h3>
    <p>
        Contact: <a href="mailto:alex.s.rohrbach@gmail.com">alex.s.rohrbach@gmail.com</a>
    </p>
{% endblock %}