{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h3><i class="bi bi-file-earmark-text"></i> Recent filings</h3>
    <table>
        <thead>
            <tr>
                <th>CIK</th>
                <th>Company</th>
                <th>Filing date</th>
                <th>View</th>
            </tr>
        <tbody>
            {% for filing in filings %}
            <tr>
                <td>{{ filing.cik }}</td>
                <td>{{ filing.company_name }}</td>
                <td>{{ filing.filing_date }}</td>
                <td>
                    <a href="https://www.sec.gov/Archives/edgar/data/{{ filing.cik|int }}/{{ filing.accession_number|replace('-', '') }}/{{ filing.primary_document }}" target="_blank">→</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>
    <br>

    <h3><i class="bi bi-search"></i> Filing lookup</h3>
    <form id="s1-form" action="/search" method="post" onsubmit="showLoading()">
        <input id="cik" name="cik" type="text" class="form-control" placeholder="Search by company CIK" style="max-width: 300px; display: inline-block; margin-right: 5px;" required>
        <button type="submit" class="btn btn-primary" style="display: inline-block;">Look up S-1</button>
    </form>
    <br>

    <!-- Loading Spinner -->
    <div id="loading" class="mb-3" style="display: none; margin-bottom: 20px;">
        <div class="spinner-border text-primary" role="status" style="vertical-align: middle;">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span class="mt-2" style="display: inline-block; margin-left: 10px; vertical-align: middle;">Loading... Please wait.</span>
    </div>

    <p>
        Don't know your company's CIK (Central Index Key)? Find it 
        <a href="https://www.sec.gov/edgar/search/" target="_blank" rel="noopener">here</a>.
    </p>
    {% if error %}
    <p class="text-danger">{{ error }}</p>
    {% endif %}

    <script>
    function showLoading() {
        document.getElementById("loading").style.display = "block";
    }
    </script>
{% endblock %}