{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Tracker: Latest S-1 Filings</h1>
    <table>
        <thead>
            <tr>
                <th>CIK</th>
                <th>Company</th>
                <th>Filing date</th>
                <th>View filing</th>
            </tr>
        <tbody>
            {% for filing in filings %}
            <tr>
                <td>{{ filing.cik }}</td>
                <td>{{ filing.company_name }}</td>
                <td>{{ filing.filing_date }}</td>
                <td>
                    <a href="https://www.sec.gov/Archives/edgar/data/{{ filing.cik|int }}/{{ filing.accession_number|replace('-', '') }}/index.html" target="_blank">→</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </thead>
    </table>

    <h1>S-1 Filing Lookup</h1>
    <form action="/search" method="post">
        <label for="cik-input">Enter Company CIK:</label>
        <input id="cik" name="cik" type="text" class="form-control" style="max-width: 300px; display: inline-block; margin-right: 10px;">
        <button type="submit" class="btn btn-primary">Look up S-1</button>
    </form>
    <br>
    <p>
        Don't know your company's CIK (Central Index Key)? <br> Find it 
        <a href="https://www.sec.gov/edgar/search/" target="_blank" rel="noopener">here</a>.
    </p>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}